In [1]:
import mysql.connector
import pymysql

In [ ]:
user = 'user'            # Change this to your user name
password = 'password'     # Change this to your password

In [2]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password')

mycursor = mydb.cursor()

mycursor.execute('CREATE DATABASE Databeat')
mydb.close()

In [3]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute('CREATE TABLE Employees(EMP_ID INT PRIMARY KEY, FIRST_NAME VARCHAR(20) NOT NULL, LAST_NAME VARCHAR(20) NOT NULL, SALARY INT NOT NULL, JOINING_DATE datetime NOT NULL, DEPARTMENT VARCHAR(10) NOT NULL )')
mydb.close()

In [4]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute("INSERT INTO Employees VALUES(001, 'MANISH', 'AGARWAL', 700000, '2019-04-20 09:00:00', 'HR'), \
(002, 'NIRANJAN', 'BOSE', 20000, '2019-02-11 09:00:00', 'DA'), (003, 'VIVEK', 'SINGH', 100000, '2019-01-20 09:00:00', 'DA'),\
(004, 'ASUTOSH', 'KAPOOR', 700000, '2019-03-20 09:00:00', 'HR'), (005, 'VIHAAN', 'BANERJEE', 300000, '2019-06-11 09:00:00', 'DA'),\
(006, 'ATUL', 'DIWEDI', 400000, '2019-05-11 09:00:00', 'Account'), (007, 'SATYENDRA', 'TRIPATHI', 95000, '2019-03-20 09:00:00', 'Account'),\
(008, 'PRITIKA', 'BHATT', 80000, '2019-02-11 09:00:00', 'DA')")
mydb.commit()

mydb.close()

In [11]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute('CREATE TABLE Variables_Details(EMP_REF_ID INT, FOREIGN KEY(EMP_REF_ID) REFERENCES Employees(EMP_ID), VARIABLE_DATE datetime NOT NULL, VARIABLES_AMOUNT INT NOT NULL)')
mydb.close()

In [12]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute("INSERT INTO Variables_Details VALUES(1, '2019-02-20 00:00:00', 15000), (2, '2019-06-11 00:00:00', 30000),\
(3, '2019-02-20 00:00:00', 42000), (4, '2019-02-20 00:00:00', 14500), (5, '2019-06-11 00:00:00', 23500)")
mydb.commit()

mydb.close()

In [13]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute('CREATE TABLE Designation_Table(EMP_REF_ID INT, FOREIGN KEY(EMP_REF_ID) REFERENCES Employees(EMP_ID), EMP_TITLE VARCHAR(20) NOT NULL, AFFECTED_FROM datetime NOT NULL)')
mydb.close()

In [15]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute("INSERT INTO Designation_Table VALUES(1, 'Asst. Manager', '2019-02-20 00:00:00'), (2, 'Senior Analyst', '2019-02-20 00:00:00'),\
(8, 'Senior Analyst', '2019-01-11 00:00:00'), (5, 'Manager', '2019-10-06 00:00:00'), (4, 'Asst. Manager', '2019-12-06 00:00:00'),\
(7, 'Team Lead', '2019-06-06 00:00:00'), (6, 'Team Lead', '2019-09-06 00:00:00'), (3, 'Senior Analyst', '2019-08-06 00:00:00')")
mydb.commit()

mydb.close()

### 1.	INNER JOIN: The INNER JOIN keyword selects all rows from both the tables as long as the condition satisfies. This keyword will create the result-set by combining all rows from both the tables where the condition satisfies i.e value of the common field will be same.

In [74]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute("SELECT Employees.JOINING_DATE, Employees.FIRST_NAME, Employees.LAST_NAME, Designation_Table.EMP_TITLE FROM Employees  INNER JOIN Designation_Table ON Employees.EMP_ID = Designation_Table.EMP_REF_ID")

result = mycusror.fetchall();
print(result)

mydb.close()

[(datetime.datetime(2019, 4, 20, 9, 0), 'MANISH', 'AGARWAL', 'Asst. Manager'), (datetime.datetime(2019, 2, 11, 9, 0), 'NIRANJAN', 'BOSE', 'Senior Analyst'), (datetime.datetime(2019, 1, 20, 9, 0), 'VIVEK', 'SINGH', 'Senior Analyst'), (datetime.datetime(2019, 3, 20, 9, 0), 'ASUTOSH', 'KAPOOR', 'Asst. Manager'), (datetime.datetime(2019, 6, 11, 9, 0), 'VIHAAN', 'BANERJEE', 'Manager'), (datetime.datetime(2019, 5, 11, 9, 0), 'ATUL', 'DIWEDI', 'Team Lead'), (datetime.datetime(2019, 3, 20, 9, 0), 'SATYENDRA', 'TRIPATHI', 'Team Lead'), (datetime.datetime(2019, 2, 11, 9, 0), 'PRITIKA', 'BHATT', 'Senior Analyst')]

### 2.	RIGHT JOIN: RIGHT JOIN is similar to LEFT JOIN. This join returns all the rows of the table on the right side of the join and matching rows for the table on the left side of join. The rows for which there is no matching row on left side, the result-set will contain null. RIGHT JOIN is also known as RIGHT OUTER JOIN

In [73]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute("SELECT Employees.JOINING_DATE, Employees.FIRST_NAME, Employees.LAST_NAME, Designation_Table.EMP_TITLE FROM Employees RIGHT JOIN Designation_Table ON Employees.EMP_ID = Designation_Table.EMP_REF_ID")

result = mycusror.fetchall();
print(result)

mydb.close()

[(datetime.datetime(2019, 4, 20, 9, 0), 'MANISH', 'AGARWAL', 'Asst. Manager'), (datetime.datetime(2019, 2, 11, 9, 0), 'NIRANJAN', 'BOSE', 'Senior Analyst'), (datetime.datetime(2019, 2, 11, 9, 0), 'PRITIKA', 'BHATT', 'Senior Analyst'), (datetime.datetime(2019, 6, 11, 9, 0), 'VIHAAN', 'BANERJEE', 'Manager'), (datetime.datetime(2019, 3, 20, 9, 0), 'ASUTOSH', 'KAPOOR', 'Asst. Manager'), (datetime.datetime(2019, 3, 20, 9, 0), 'SATYENDRA', 'TRIPATHI', 'Team Lead'), (datetime.datetime(2019, 5, 11, 9, 0), 'ATUL', 'DIWEDI', 'Team Lead'), (datetime.datetime(2019, 1, 20, 9, 0), 'VIVEK', 'SINGH', 'Senior Analyst')]

### 3.	LEFT JOIN: This join returns all the rows of the table on the left side of the join and matching rows for the table on the right side of join. The rows for which there is no matching row on right side, the result-set will contain null. LEFT JOIN is also known as LEFT OUTER JOIN

In [71]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute("SELECT Employees.JOINING_DATE, Employees.FIRST_NAME, Employees.LAST_NAME, Designation_Table.EMP_TITLE  FROM Employees LEFT JOIN Designation_Table ON Employees.EMP_ID = Designation_Table.EMP_REF_ID")

result = mycusror.fetchall();
print(result)

mydb.close()

[(datetime.datetime(2019, 4, 20, 9, 0), 'MANISH', 'AGARWAL', 'Asst. Manager'), (datetime.datetime(2019, 2, 11, 9, 0), 'NIRANJAN', 'BOSE', 'Senior Analyst'), (datetime.datetime(2019, 1, 20, 9, 0), 'VIVEK', 'SINGH', 'Senior Analyst'), (datetime.datetime(2019, 3, 20, 9, 0), 'ASUTOSH', 'KAPOOR', 'Asst. Manager'), (datetime.datetime(2019, 6, 11, 9, 0), 'VIHAAN', 'BANERJEE', 'Manager'), (datetime.datetime(2019, 5, 11, 9, 0), 'ATUL', 'DIWEDI', 'Team Lead'), (datetime.datetime(2019, 3, 20, 9, 0), 'SATYENDRA', 'TRIPATHI', 'Team Lead'), (datetime.datetime(2019, 2, 11, 9, 0), 'PRITIKA', 'BHATT', 'Senior Analyst')]

### Employee details(full name and department) who received the least variables

In [33]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute("SELECT FIRST_NAME, LAST_NAME, DEPARTMENT, Variables_Details.VARIABLES_AMOUNT FROM Employees Employees LEFT JOIN Variables_Details ON Employees.EMP_ID = Variables_Details.EMP_REF_ID WHERE VARIABLES_AMOUNT IN (SELECT MIN(VARIABLES_AMOUNT) FROM Variables_Details)")

result = mycusror.fetchall();
print(result)

mydb.close()

[('ASUTOSH', 'KAPOOR', 'HR', 14500)]

### Employee details(full name and department) who received the  highest variables

In [34]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute("SELECT FIRST_NAME, LAST_NAME, DEPARTMENT, Variables_Details.VARIABLES_AMOUNT FROM Employees Employees LEFT JOIN Variables_Details ON Employees.EMP_ID = Variables_Details.EMP_REF_ID WHERE VARIABLES_AMOUNT IN (SELECT MAX(VARIABLES_AMOUNT) FROM Variables_Details)")

result = mycusror.fetchall();
print(result)

mydb.close()

[('VIVEK', 'SINGH', 'DA', 42000)]

### Write a query to get the designation which has got the highest  (salary + variables)  for the whole year of 2019. Get the corresponding amount values.

In [36]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute("SELECT FIRST_NAME, LAST_NAME, DEPARTMENT, Variables_Details.VARIABLES_AMOUNT, Employees.SALARY + Variables_Details.VARIABLES_AMOUNT FROM Employees Employees LEFT JOIN Variables_Details ON Employees.EMP_ID = Variables_Details.EMP_REF_ID WHERE Employees.SALARY + Variables_Details.VARIABLES_AMOUNT = (SELECT MAX(Employees.SALARY + Variables_Details.VARIABLES_AMOUNT) FROM Variables_Details)")

result = mycusror.fetchall();
print(result)

mydb.close()

[('VIVEK', 'SINGH', 'DA', 42000, 142000)]

### Write a query to get the designation which has got the second lowest  (salary + variables)  for the whole year of 2019. Get the corresponding amount values.

In [69]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute("SELECT FIRST_NAME, LAST_NAME, DEPARTMENT, Variables_Details.VARIABLES_AMOUNT, Employees.SALARY + Variables_Details.VARIABLES_AMOUNT FROM Employees Employees LEFT JOIN Variables_Details ON Employees.EMP_ID = Variables_Details.EMP_REF_ID WHERE Employees.SALARY + Variables_Details.VARIABLES_AMOUNT > (SELECT MIN(Employees.SALARY + Variables_Details.VARIABLES_AMOUNT) FROM Variables_Details) ORDER BY (Employees.SALARY + Variables_Details.VARIABLES_AMOUNT) DESC LIMIT 1")

result = mycusror.fetchall();
print(result)

mydb.close()

[('MANISH', 'AGARWAL', 'HR', 15000, 715000)]

### Cross Join: The CROSS JOIN is used to generate a paired combination of each row of the first table with each row of the second table.

In [75]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute("SELECT Employees.JOINING_DATE, Employees.FIRST_NAME, Employees.LAST_NAME, Designation_Table.EMP_TITLE FROM Employees CROSS JOIN Designation_Table ON Employees.EMP_ID = Designation_Table.EMP_REF_ID")

result = mycusror.fetchall();
print(result)

mydb.close()

[(datetime.datetime(2019, 4, 20, 9, 0), 'MANISH', 'AGARWAL', 'Asst. Manager'), (datetime.datetime(2019, 2, 11, 9, 0), 'NIRANJAN', 'BOSE', 'Senior Analyst'), (datetime.datetime(2019, 1, 20, 9, 0), 'VIVEK', 'SINGH', 'Senior Analyst'), (datetime.datetime(2019, 3, 20, 9, 0), 'ASUTOSH', 'KAPOOR', 'Asst. Manager'), (datetime.datetime(2019, 6, 11, 9, 0), 'VIHAAN', 'BANERJEE', 'Manager'), (datetime.datetime(2019, 5, 11, 9, 0), 'ATUL', 'DIWEDI', 'Team Lead'), (datetime.datetime(2019, 3, 20, 9, 0), 'SATYENDRA', 'TRIPATHI', 'Team Lead'), (datetime.datetime(2019, 2, 11, 9, 0), 'PRITIKA', 'BHATT', 'Senior Analyst')]

### What are the clauses used with Select statements and what are the orders of it? Write a query to get the employee details who got their designations updated in the second half of the year 2019(July to December), sorted by the “variables_amount” (highest to lowest) where the department name of the Employee has the letter ‘A’ in it.

### Select statement has following clauses in logical order:
### 1. FROM
### 2. WHERE
### 3. GROUP BY
### 4. HAVING
### 5. ORDER BY

### What is a Cursor? Write a query/queries to use the cursor to store the Employees Name( full name) for the HR department into a variable called ‘emp_names’

### The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.

### Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

In [2]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute("ALTER TABLE Employees ADD COLUMN emp_names VARCHAR(50)")

'''result = mycusror.fetchall();
print(result)
'''
mydb.close()

ProgrammingError: 1060 (42S21): Duplicate column name 'emp_names'

In [30]:
mydb = mysql.connector.connect(host = 'localhost', user = 'user', password = 'password', database = 'Databeat')

mycusror = mydb.cursor()

mycusror.execute("UPDATE Employees SET emp_names = CONCAT(Employees.FIRST_NAME, ' ', Employees.LAST_NAME) WHERE DEPARTMENT = 'HR'")

'''result = mycusror.fetchall();
print(result)'''
mydb.commit()

mydb.close()

### Database normalization is a database schema design technique, by which an existing schema is modified to minimize redundancy and dependency of data. Normalization split a large table into smaller tables and define relationships between them to increases the clarity in organizing data.

### First Normal Form: The rules for a database to be classified as of first normal form is:
### 1. Each set of columns must have a unique value such that multiple columns cannot be used to fetch the same row.
### 2. Each record needs to be unique.

### Rules for second normal form:
### 1- Be in 1NF
### 2- Single Column Primary Key

### Rules for third normal form:
### 1- Be in 2NF
### 2- Has no transitive functional dependencies